/* .navbar-container {
    display: flex; 
    flex-flow: row nowrap;
} */

.navbar {
    background-color: #CDDAFD;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 5%;
    /* position: relative; */
    background: linear-gradient(90deg, rgba(94, 84, 142, 0.75), rgba(159, 134, 192, 0.75));
    margin-bottom: 20%;
}

.link-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: center;
}

.link-container>h1 {
    left: 0;
}

.logout-container {
    align-self: flex-end;
    text-decoration: none;
    align-content: center;
}

.logout-container a {
    color: black;
}